.us{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 5%;
    margin-top: 15%;

    div{
        width: 100%;
        align-items: center;

        img{
            width: 90%;
        }
    }

    
}