.tacos{
    max-width: 100%;
    z-index: -1;
}//.tacos

.top-content{
    margin: 8.5rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: cornsilk;
    padding: 3rem;
    background: rgba(1, 1, 1, 0.5);

    h1{
        border-top: cornsilk solid 1px;
        border-bottom: cornsilk solid 1px;
        margin: 1rem;
        padding: 1rem
    }//h1

    hr{
        width: 72%;
        border-top: 1px solid cornsilk;
        border-bottom: none;
    }

    button{
        margin: 2rem 0 0 0;
        color: cornsilk;
        text-decoration: none;
        padding: 1.3rem 2.5rem;
        background: none;
        border: 1px solid cornsilk;
    };
}//.top-content

.bottom-content{
    position: absolute;
    top: 1000px;
    color: black;
    z-index: +3;
}//.bottom-content