nav{
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    background: rgba(1, 1, 1, 0.5);

    a{
        font-size: 1.3rem;
        display: flex;
        text-decoration: none;
        color: cornsilk;
        margin: 1rem;
        align-items: center;
    }//a

    .login{
        margin-top: 1rem;
        padding: .8rem;
        background: cornflowerblue;
        font-weight: bold;
    }//login
}//nav